/* Common Styling */

body{
    background-color: black;
    margin: 0; 
    color: white;
}

.container{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

.fontheader{
    color:#BE9442; 
    text-align: center;
    font-weight: bold;
    margin: 0;
}

p {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

a{
  color:white;
  text-decoration: none;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexvertical{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Hero Section */

.hero{
    background-image: url('../img/homepage1.png');
    background-position: center;
    background-size:cover; 
    background-repeat: no-repeat;
    height: 90vh;
}

.logo{
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  padding-top: 20px;
}

/* Class Section */

.flexbetween{
    width: 400px;
    display:flex;
    justify-content: space-between;
}

.buttonForm input {
    background: url("../img/menubutton.png") no-repeat scroll 0 0 transparent;
    background: contain;
    cursor: pointer;
    width: 125px;
    height: 100px;
    padding-bottom: 2px;
    border: none;
    color:white;
    text-align: center;
    font-weight: bold;
  }

  .sectioninfowrapper{
      position: relative;
  }

  .infoiconwrapper{
      position: absolute;
      top: 0px;
      right: -30px;
  }

  .infoiconwrapper1{
    position: absolute;
    top: -8px;
    right: -5px;
  }

  .infoiconwrapper2{
    position: absolute;
    top: -8px;
    right: 10px;
  }

  .infoiconwrapper3{
    position: absolute;
    top: -2px;
    right: -8px;
  }
    

  .header1{
      font-size: 50px;
      font-family: 'Crimson Text', serif;
      line-height: 80px;
      padding-top: 30px;
  }

  .header2{
      font-size: 45px;
      font-family: 'Crimson Text', serif;
      margin: 0;
  }

  .header3{
      text-align: center;
      font-size: 28px;
      margin-bottom: 0;
  }

  div input{
    cursor: pointer;
    width: 145px;
    height: 250px;
    padding-bottom: 2px;
    border: none;
    font-size: 12px;
    color: transparent;
  }

  #rogue input{
    background: url('../img/rogue.png');
    padding-right: 16px;
   
  }

   #fighter input{
    background: url('../img/fighter.png') no-repeat scroll 0 0 transparent; 
  }

  #wizard input{
    background: url('../img/wizard.png') no-repeat scroll 0 0 transparent; 
  }

  #elf input{
    background: url('../img/elf.png');
   
  }

   #dwarf input{
    background: url('../img/dwarf.png') no-repeat scroll 0 0 transparent; 
    padding-right: 20px;
  }

  #gnome input{
    background: url('../img/gnome.png') no-repeat scroll 0 0 transparent; 
    padding-right: 20px;
  }
  
  .classselection{
    padding-right: 16px;
  }

  .classinfo{
      font-size: 15px;
  }


  .abilitystat{
    padding: 10px;
  }
  