body{
    background-color: black;
    margin: 0; 
    color: white;
}

.container{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}


.fontheader{
    color:#BE9442; 
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.hero{
    background-image: url('../img/homepage1.png');
    background-position: center;
    background-size:cover; 
    background-repeat: no-repeat;
    height: 90vh;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexvertical{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonForm input {
    background: url("../img/menuicon.png") no-repeat scroll 0 0 transparent;
    background: contain;
    cursor: pointer;
    width: 125px;
    height: 100px;
    padding-bottom: 2px;
    border: none;
    color:white;
    text-align: center;
    font-weight: bold;
  }

  .sectioninfowrapper{
      position: relative;
  }

  .infoiconwrapper{
      position: absolute;
      top: 0px;
      right: -30px;
  }

  .infoiconwrapper1{
    position: absolute;
    top: -8px;
    right: -20px;
  }

  .infoiconwrapper2{
    position: absolute;
    top: -8px;
    right: -10px;
  }
    
  .logo{
      display: flex;
      align-items:flex-start;
      justify-content: flex-start;
      padding-top: 20px;
  }

  .header1{
      font-size: 50px;
      font-family: 'Crimson Text', serif;
      line-height: 80px;
      padding-top: 30px;
  }

  .header2{
      font-size: 45px;
      font-family: 'Crimson Text', serif;
      margin: 0;
  }

  .header3{
      text-align: center;
      font-size: 28px;
      margin-bottom: 0;
  }

  div input{
    cursor: pointer;
    width: 150px;
    height: 250px;
    padding-bottom: 2px;
    border: none;
    font-size: 12px;
    color: transparent;
  }

  #rogue input{
    background: url('../img/rogue.png');
    padding-right: 20px;
   
  }

   #fighter input{
    background: url('../img/fighter.png') no-repeat scroll 0 0 transparent; 
  }

  #wizard input{
    background: url('../img/wizard.png') no-repeat scroll 0 0 transparent; 
  }

  #elf input{
    background: url('../img/elf.png');
    padding-right: 20px;
   
  }

   #dwarf input{
    background: url('../img/dwarf.png') no-repeat scroll 0 0 transparent; 
  }

  #gnome input{
    background: url('../img/gnome.png') no-repeat scroll 0 0 transparent; 
  }
  
  .classselection{
    padding-right: 30px;
  }

  .classinfo{
      font-size: 15px;
  }

  p {
      text-align: center;
      font-size: 20px;
      line-height: normal;
  }

  a{
      color:white;
      text-decoration: none;
  }
  